---
layout: default
---

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <!-- Icon for last edited. Decided to move this to the bottom instead. -->
            <!-- {% if page.lastedit %}
                <span><i class="icon-clock"></i><time datetime="{{page.lastedit|date:"%F"}}">{{page.lastedit|date:"%b %d, %Y"}}</time></span><br/>
            {% endif %} -->
            <!-- <span class="author"><i class="icon-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span></br> --> <!-- Uncomment if I ever decide I want multiple authors -->
            <!-- <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/> --> <!-- Uncomment if I ever decide I want categories -->
            <!-- Tags -->
			<span class="tags"><i class="icon-tag"></i>
				{% for post_tag in page.tags %}
				<a href="{{ site.baseurl }}/tags/">{{ post_tag }}</a> <!-- no # in the link for now -->
				<!-- <a href="{{ site.baseurl }}tags/#{{post_tag}}">{{ post_tag }}</a> --> <!-- getting this to work would be most ideal -->
				{% endfor %}
			</span>            
        </header>

        <div class="entry">{{ content }}
            {% if page.lastedit %}
            <div><i>Edited on <time datetime="{{page.lastedit|date:"%F"}}">{{page.lastedit|date:"%b %d, %Y"}}</time>.</i></div>
            {% endif %}
        </div>


        {% include facebook-comments.html %}
        {% if page.fbcomments %}
          <hr/>
          <h4>Comments</h4>

          <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-colorscheme="light" data-num-posts="10" data-width="706"></div>
        {% endif %}

        <footer><!-- additional info --></footer>

</article>
